*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
text-decoration: none;
}


/*STYLING STATRS OF NAVBAR*/

.logo img{
    width: 100px;
    background-color: rgb(199, 189, 189);
}
.menu-container{
    background-color: rgb(199, 189, 189);
    padding: 20px;
    align-items: center;
    display: flex;
    justify-content: space-between;

}

.menu-bar{
font-size: 20px;





}

.menu-bar a{
    margin: 10px;
    color: cadetblue;
    transition: all 0.3s;
    padding: 5px;

}


.menu-bar a:hover{
    background-color: aliceblue;
    border-radius: 30px;
}


/*STYLING ENDS OF NAVBAR*/


/*BANNER SECTION STYLING STATRS*/
.banner-container{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    background-image: url("./1129018.jpg"),linear-gradient(45deg,rgba(14, 9, 9, 0.514),black);
    background-repeat: no-repeat;
    color: white;
    padding: 10px;
}
.para{
    font-size: 55px;
    margin: 5px 0;
}
.para-de{
    margin: 15px 0;
}

.btn{
    margin:10px 0;
    border: none;
    font-size: 20px;
    border-radius: 0.6rem;
    padding: 5px;
    color: white;
    background-color: blueviolet;
    transition: all 0.3s;
}
.btn:hover{
    background-color:white;
    color: black;
}
.img {
    border-radius: 0.6rem;
    width: 300px;
    margin-right: 20px;
    transition: all 0.3s;
}
.img:hover{
    transform: rotate(45deg);
}

/*BANNER SECTION STYLING ENDS*/





/*STYLING STATRS OF ABOUTE US*/
      .title{
        font-size: 30px;
        text-align: center;
        margin: 10px;
      }


      .img-learn img{
        width: 350px;
      }


      .about-container{
        height: 60vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
      }

      .my-para{
        margin-bottom: 10px;
        font-family: Arial, Helvetica, sans-serif;
      }
          .all-para{
            margin-bottom: 10px;
          }

/*STYLING STATRS OF ABOUT US*/

